yum repolist
yum -y update

echo "Removing eth0 definition"
rm /etc/udev/rules.d/70-persistent-net.rules
rm /etc/udev/rules.d/75-persistent-net-generator.rules
touch /etc/udev/rules.d/70-persistent-net.rules
touch /etc/udev/rules.d/75-persistent-net-generator.rules
rm /etc/sysconfig/network-scripts/ifcfg-eth0
/bin/sed -i '/^nameserver.*$/d' /etc/resolv.conf

# TORF-215915 - Fix to allow jbossimage to be used in cloud
cat &#60;&#60; EOF &#62; /etc/dhcp/dhclient.conf
timeout 5;
retry 2;
reboot 2;
select-timeout 0;
initial-interval 2;
backoff-cutoff 2;
EOF

tuned-adm profile virtual-guest

# New SELinux Policy
mkdir -p /var/SELinux
chmod 700 /var/SELinux
echo "module local 1.0;
require {
        type ssh_keygen_t;
        type nfs_t;
        type sshd_t;
        class file { getattr open read };
        class dir search;
}
#============= ssh_keygen_t ==============
allow ssh_keygen_t nfs_t:file { getattr open read };
allow ssh_keygen_t nfs_t:dir search;
allow sshd_t nfs_t:file { getattr open read };" >/var/SELinux/local.te
chmod 600 /var/SELinux/local.te
checkmodule -M -m -o /var/SELinux/local.mod /var/SELinux/local.te
chmod 600 /var/SELinux/local.mod
semodule_package -o /var/SELinux/local.pp -m /var/SELinux/local.mod
chmod 600 /var/SELinux/local.pp
semodule -i /var/SELinux/local.pp

# BEGIN TORF-670035 - [RHEL8] generate rhel8 base qcow2
ln -s /usr/bin/python3 /usr/bin/python
unlink /sbin/pidof
echo 'if [[ $@ == "systemd" ]]; then echo 1; else command /sbin/killall5 "$@"; fi;' > /sbin/pidof
chmod 755 /sbin/pidof
sed -i 's/NAME="Red Hat Enterprise Linux"/NAME="Red Hat Enterprise Linux Server"/' /etc/os-release
# END TORF-670035

# BEGIN TORF-714284
sed -i 's/\[main\]/\[main\]\nsystemd-resolved=false/' /etc/NetworkManager/NetworkManager.conf
# END TORF-714284
